[*]
end_of_line = lf
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
max_line_length = 0
soft_wrap = true
